body {
  font-family: "Teko", sans-serif;;
}

#root {
  background-color: rgb(232, 234, 234);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Teko", sans-serif;;
}

.small {
  font-weight: 300;
  font-style: italic;
}

