.card {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  }
  
  .section {
    border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);
  }
  
  .like {
    color: var(--mantine-color-red-6);
  }
  
  .label {
    text-transform: uppercase;
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
  }

  .iconContainer {
    border-top: 1px solid grey;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 20px; /* Adjust margin as needed */
  }